<!doctype HTML>
{% load staticfiles %}
<html>
	<head>
		<title>Quoter</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
		<script type="text/javascript" src="{% static 'javascripts/jquery-2.1.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'javascripts/masonry.pkgd.min.js' %}"></script>
	</head>
	<body>
		<div class='container'>
			<div class='toolbar'>
				<p><a href='/'>Log-in</a></p>
				<p><a href='/register/'>Register</a></p>
			</div>
			<div class='title'>
				<h1>
					<span class='{{ colors.0 }}'>Q</span>
					<span class='{{ colors.1 }}'>u</span>
					<span class='{{ colors.2 }}'>o</span>
					<span class='{{ colors.3 }}'>t</span>
					<span class='{{ colors.4 }}'>e</span>
					<span class='{{ colors.5 }}'>r</span>
				</h1>
			</div>
			<div class='body'>
				<div class='form'>
	        <form id="login_form" method="post" action="/">
	            {% csrf_token %}
	            <label>Username:</label>
	            <input type="text" name="username" value="" size="50" />
	            <label>Password:</label>
	            <input type="password" name="password" value="" size="50" />
	            <a href="/register/" class='button'>Register Here</a>
	            <input type="submit" value="Submit" class='button'/>
	        </form>
				</div>
			</div>
		</div>
		<script>
		  (function(i, s, o, g, r, a, m) {
		      i['GoogleAnalyticsObject'] = r;
		      i[r] = i[r] || function() {
		          (i[r].q = i[r].q || []).push(arguments)
		      }, i[r].l = 1 * new Date();
		      a = s.createElement(o),
		          m = s.getElementsByTagName(o)[0];
		      a.async = 1;
		      a.src = g;
		      m.parentNode.insertBefore(a, m)
		  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		  ga('create', 'UA-55360839-1', 'auto');
		  ga('require', 'linkid', 'linkid.js');
		  ga('require', 'displayfeatures');
		  ga('send', 'pageview');
		</script>
	</body>
</html>