<!doctype HTML>
{% load staticfiles %}
<html>
	<head>
		<title>Quoter</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
		<script type="text/javascript" src="{% static 'javascripts/jquery-2.1.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'javascripts/masonry.pkgd.min.js' %}"></script>

	</head>
	<body>
		<div class='container'>
			<div class='toolbar'>
				<p><a href="/update_profile">Edit Profile</a></p>
				<p><a href="/logout">Log-off</a></p>
			</div>
			<div class='title'>
				<h1>
					<span class='{{ colors.0 }}'>Q</span>
					<span class='{{ colors.1 }}'>u</span>
					<span class='{{ colors.2 }}'>o</span>
					<span class='{{ colors.3 }}'>t</span>
					<span class='{{ colors.4 }}'>e</span>
					<span class='{{ colors.5 }}'>r</span>
				</h1>
			</div>
			<div class='body'>
				<div class='quotes'>
					<div  id='quotes_block'>
						{% for quote in quotes %}
							{% cycle '1' '2' '3' '4' '5' as counter silent %}
							<div class='item w{{counter}}'>
								<blockquote>
									{{ quote.quote }}
									<cite>
										{{ quote.author.first_name }}
										{{ quote.author.last_name }}
									</cite>
								</blockquote>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class='form add_quote'>
					<form action='/quotes/' method='post' id='add_quote'>
						{% csrf_token %}
						{{ quote_form }}
						<input type="submit" value="Add Quote" class='button offset'/>
					</form>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				$('#quotes_block').masonry({
				  itemSelector: '.item'
				});
			})
		</script>
	</body>
</html>