<!doctype HTML>
{% load staticfiles %}
<html>
	<head>
		<title>Quoter</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
		<script type="text/javascript" src="{% static 'lib/javascripts/jquery-2.1.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'lib/javascripts/masonry.pkgd.min.js' %}"></script>
	</head>
	<body>
		<div class='container'>
			<div class='toolbar'>
				<p><a href="/quotes">Back to Quotes</a></p>
				<p><a href="/logout">Log-off</a></p>
			</div>
			<div class='title'>
				<h1>
					<span class='{{ colors.0 }}'>Q</span>
					<span class='{{ colors.1 }}'>u</span>
					<span class='{{ colors.2 }}'>o</span>
					<span class='{{ colors.3 }}'>t</span>
					<span class='{{ colors.4 }}'>e</span>
					<span class='{{ colors.5 }}'>r</span>
				</h1>
			</div>
			<div class='body'>
				<div class='login'>
					<form id="user_form" method="post" action="/register/">
					    {% csrf_token %}
					    {{ update_profile }}
					    <input type='submit' name="submit" value="Update Profile" class='button'/>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>